/******IMPORTS******/

@font-face {
    font-family: "Inter";
    src: url(../Assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Quicksand";
    src: url(../Assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "titilium_web";
    src: url(../Assets/Fonts/titilium_web/TitilliumWeb-Regular.ttf);
}

/******RESET******/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    color: #ffffff;
    background-color: #1B1426;
}

/******Classes Genéricas******/

.layout-grid{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.flex-between-center{ /* flex + justify content + align itens */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MOBILE FIRST */

/******HEADER******/

header {
    height: 60px;
}

/* HEADER TOP */

header .header-top {
    display: none;
}

/* HEADER BOTTOM */

header .header-bottom{
    height: 100%;
}

header .header-bottom img.logo{
    width: 86px;
}

header .header-bottom nav{
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    
    border: 1px solid white;
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(27, 20, 38, 0)) 1;
}

header .header-bottom .menu-usuario{
    display: none;
}